.form {
  margin-bottom: 2rem;
}

.forgot {
  display: inline-block;
  padding: .5rem 0;
  line-height: 1;
  color: #666;
}

.forgot::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: currentColor;
}

.register {
  margin-top: 4rem;
}

.register p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.subtitle {
  font-family: var(--second-type);
  font-size: 2rem;
  line-height: 1;
}

.subtitle::after {
  content: '';
  display: block;
  width: 3rem;
  height: .5rem;
  border-radius: .2rem;
  background: #ddd;
}
