@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding-top: 4rem;
  margin: 0;
  color: #333;
  --first-type: Helvetica, Arial, sans-serif;
  --second-type: 'Spectral', Georgia;
  font-family: var(--first-type);
}

h1, h2, h3, h4, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #333;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button, input {
  display: block;
  font-family: var(--first-type);
  font-size: 1rem;
  color: #333;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 10rem);
}

.AppBody {
  flex: 1;
}

.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.mainContainer {
  margin-top: 2rem;
}

.VictoryContainer {
  height: initial !important;
}

.title {
  font-family: var(--second-type);
  font-size: 3rem;
  margin: 1rem 0;
  position: relative;
  line-height: 1;
  z-index: 1;
}

.title::after {
  content: '';
  position: absolute;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  bottom: 5px;
  left: -5px;
  border-radius: .2rem;
  background: #fb1;
  z-index: -1;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-40px);
  animation: animeLeft .3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}